.banner{
    background: var(--primary-gradient);
    color: var(--secondary-color);
    text-align:center;
    padding: 2.5em 2em;
}

.banner__title{
    font-size:var(--font-size-h2);
    font-weight:var(--font-weight-bold);
}

.banner__text{
    font-weight:var(--font-weight-medium);
    margin: 1em 0;
}

.banner__search{
    background-color:transparent;
    border: 1px solid var(--secondary-color);
    
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__search::placeholder{
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: var(--font-size-small);
    text-align:center;

    background: url("../assets/Lupa.svg") no-repeat;
    background-position: 1em;
}
