.topics{
    background: var(--primary-gradient);
    text-align:center;
    padding: 1.25em 0;
}

.topics__title{
    color:var(--secondary-color);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    margin-bottom:1em;
}

.topics__list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__list__item{
    margin: 2em 0.5em;
}

.topics__list__item__link{
    color: var(--primary-color);
    padding: 1em;
    
    background-color:var(--primary-accent-color);   
    font-weight:var(--font-weight-bold);
    font-size:var(--font-size-small);
}


@media screen and (min-width: 1024px){
    .topics__title{
        font-size: var(--font-size-h2);
    }

    .topics__list__item__link{
        font-size: var(--font-size-h2);
    }
}


@media screen and (min-width: 1728px){
    .topics{
        padding:1em 30vw;
    }
}